# 7/19

In [1]:
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','sex','class','fare','survived']]
df.head()

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0

In [2]:
data = df['class']
type(data)
data.value_counts()

# df.class.value_counts() # 컬럼명 중 하나인 class는 예약어라 이건 안됨.

Third     491
First     216
Second    184
Name: class, dtype: int64

In [3]:
# 파이썬 예약어
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
# df.class는 예약어로 처리되기 때문에 df['class']로 처리
# df.class 형태로 사용하려면 다른 이름으로 변경하여 사용

df['class'].value_counts()

Third     491
First     216
Second    184
Name: class, dtype: int64

In [7]:
df=df.rename(columns={'class':'c_level'})
df.c_level.value_counts()

Third     491
First     216
Second    184
Name: c_level, dtype: int64

In [9]:
len(df) ### row 수 나옴
grouped = df.groupby(['c_level'])
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f85184a8250>

In [10]:
list(grouped) ### 여기서, First, Second, Third 가 Key

[('First',
        age     sex c_level     fare  survived
  1    38.0  female   First  71.2833         1
  3    35.0  female   First  53.1000         1
  6    54.0    male   First  51.8625         0
  11   58.0  female   First  26.5500         1
  23   28.0    male   First  35.5000         1
  ..    ...     ...     ...      ...       ...
  871  47.0  female   First  52.5542         1
  872  33.0    male   First   5.0000         0
  879  56.0  female   First  83.1583         1
  887  19.0  female   First  30.0000         1
  889  26.0    male   First  30.0000         1

  [216 rows x 5 columns]),
 ('Second',
        age     sex c_level     fare  survived
  9    14.0  female  Second  30.0708         1
  15   55.0  female  Second  16.0000         1
  17    NaN    male  Second  13.0000         1
  20   35.0    male  Second  26.0000         0
  21   34.0    male  Second  13.0000         1
  ..    ...     ...     ...      ...       ...
  866  27.0  female  Second  13.8583         1
  874  28.0  female  Second  24.0000         1
  880  25.0  female  Second  26.0000         1
  883  28.0    male  Second  10.5000         0
  886  27.0    male  Second  13.0000         0

  [184 rows x 5 columns]),
 ('Third',
        age     sex c_level     fare  survived
  0    22.0    male   Third   7.2500         0
  2    26.0  female   Third   7.9250         1
  4    35.0    male   Third   8.0500         0
  5     NaN    male   Third   8.4583         0
  7     2.0    male   Third  21.0750         0
  ..    ...     ...     ...      ...       ...
  882  22.0  female   Third  10.5167         0
  884  25.0    male   Third   7.0500         0
  885  39.0  female   Third  29.1250         0
  888   NaN  female   Third  23.4500         0
  890  32.0    male   Third   7.7500         0

  [491 rows x 5 columns])]

In [11]:
for key, group in grouped: # grouped 안의 내용을 정리해서 출력하기!
    print('* key :', key)
    print('* number:', len(group)) # 각 그룹의 개수
    print(group.head(5))
    print('-'*80)

* key : First
* number: 216
     age     sex c_level     fare  survived
1   38.0  female   First  71.2833         1
3   35.0  female   First  53.1000         1
6   54.0    male   First  51.8625         0
11  58.0  female   First  26.5500         1
23  28.0    male   First  35.5000         1
--------------------------------------------------------------------------------
* key : Second
* number: 184
     age     sex c_level     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
17   NaN    male  Second  13.0000         1
20  35.0    male  Second  26.0000         0
21  34.0    male  Second  13.0000         1
--------------------------------------------------------------------------------
* key : Third
* number: 491
    age     sex c_level     fare  survived
0  22.0    male   Third   7.2500         0
2  26.0  female   Third   7.9250         1
4  35.0    male   Third   8.0500         0
5   NaN    male   Third   8.4583         0
7   2.0    male   Third  21.0750         0
--------------------------------------------------------------------------------

In [12]:
average = grouped.mean() # 그룹별 평균 출력!
print(average)

               age       fare  survived
c_level
First    38.233441  84.154687  0.629630
Second   29.877630  20.662183  0.472826
Third    25.140620  13.675550  0.242363

In [13]:
max = grouped.max()
max

          age   sex      fare  survived
c_level
First    80.0  male  512.3292         1
Second   70.0  male   73.5000         1
Third    74.0  male   69.5500         1

In [14]:
from IPython.display import display, HTML # print 붙여도 이쁘게 뽑기~

average = grouped.mean()
display(HTML(average.to_html()))
maxs = grouped.max()
display(HTML(maxs.to_html()))

In [15]:
# Q. 'Thrid'그룹만을 선택해서 group3 이름으로 저장하고 통계요약표를 출력하세요.

li = list(grouped)
group3 = li[2][1]
group3.describe()

              age        fare    survived
count  355.000000  491.000000  491.000000
mean    25.140620   13.675550    0.242363
std     12.495398   11.778142    0.428949
min      0.420000    0.000000    0.000000
25%     18.000000    7.750000    0.000000
50%     24.000000    8.050000    0.000000
75%     32.000000   15.500000    0.000000
max     74.000000   69.550000    1.000000

In [16]:
# 다른 방법
a = grouped.groups['Third']
group3 = df.loc[a]
group3.describe()

# 다른방법
group3 = grouped.get_group('Third')
group3.describe()

              age        fare    survived
count  355.000000  491.000000  491.000000
mean    25.140620   13.675550    0.242363
std     12.495398   11.778142    0.428949
min      0.420000    0.000000    0.000000
25%     18.000000    7.750000    0.000000
50%     24.000000    8.050000    0.000000
75%     32.000000   15.500000    0.000000
max     74.000000   69.550000    1.000000

In [17]:
group1 = grouped.get_group('First')
group1.describe()

              age        fare    survived
count  186.000000  216.000000  216.000000
mean    38.233441   84.154687    0.629630
std     14.802856   78.380373    0.484026
min      0.920000    0.000000    0.000000
25%     27.000000   30.923950    0.000000
50%     37.000000   60.287500    1.000000
75%     49.000000   93.500000    1.000000
max     80.000000  512.329200    1.000000

In [20]:
# Q. class열, sex열을 기준으로 분할하여 grouped_two에 저장하세요.

grouped_two = df.groupby(['c_level','sex'])
print(grouped_two)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f8539885bb0>

In [21]:
list(grouped_two)

[(('First', 'female'),
        age     sex c_level      fare  survived
  1    38.0  female   First   71.2833         1
  3    35.0  female   First   53.1000         1
  11   58.0  female   First   26.5500         1
  31    NaN  female   First  146.5208         1
  52   49.0  female   First   76.7292         1
  ..    ...     ...     ...       ...       ...
  856  45.0  female   First  164.8667         1
  862  48.0  female   First   25.9292         1
  871  47.0  female   First   52.5542         1
  879  56.0  female   First   83.1583         1
  887  19.0  female   First   30.0000         1

  [94 rows x 5 columns]),
 (('First', 'male'),
        age   sex c_level      fare  survived
  6    54.0  male   First   51.8625         0
  23   28.0  male   First   35.5000         1
  27   19.0  male   First  263.0000         0
  30   40.0  male   First   27.7208         0
  34   28.0  male   First   82.1708         0
  ..    ...   ...     ...       ...       ...
  839   NaN  male   First   29.7000         1
  857  51.0  male   First   26.5500         1
  867  31.0  male   First   50.4958         0
  872  33.0  male   First    5.0000         0
  889  26.0  male   First   30.0000         1

  [122 rows x 5 columns]),
 (('Second', 'female'),
        age     sex c_level     fare  survived
  9    14.0  female  Second  30.0708         1
  15   55.0  female  Second  16.0000         1
  41   27.0  female  Second  21.0000         0
  43    3.0  female  Second  41.5792         1
  53   29.0  female  Second  26.0000         1
  ..    ...     ...     ...      ...       ...
  854  44.0  female  Second  26.0000         0
  865  42.0  female  Second  13.0000         1
  866  27.0  female  Second  13.8583         1
  874  28.0  female  Second  24.0000         1
  880  25.0  female  Second  26.0000         1

  [76 rows x 5 columns]),
 (('Second', 'male'),
        age   sex c_level  fare  survived
  17    NaN  male  Second  13.0         1
  20   35.0  male  Second  26.0         0
  21   34.0  male  Second  13.0         1
  33   66.0  male  Second  10.5         0
  70   32.0  male  Second  10.5         0
  ..    ...   ...     ...   ...       ...
  848  28.0  male  Second  33.0         0
  861  21.0  male  Second  11.5         0
  864  24.0  male  Second  13.0         0
  883  28.0  male  Second  10.5         0
  886  27.0  male  Second  13.0         0

  [108 rows x 5 columns]),
 (('Third', 'female'),
        age     sex c_level     fare  survived
  2    26.0  female   Third   7.9250         1
  8    27.0  female   Third  11.1333         1
  10    4.0  female   Third  16.7000         1
  14   14.0  female   Third   7.8542         0
  18   31.0  female   Third  18.0000         0
  ..    ...     ...     ...      ...       ...
  863   NaN  female   Third  69.5500         0
  875  15.0  female   Third   7.2250         1
  882  22.0  female   Third  10.5167         0
  885  39.0  female   Third  29.1250         0
  888   NaN  female   Third  23.4500         0

  [144 rows x 5 columns]),
 (('Third', 'male'),
        age   sex c_level     fare  survived
  0    22.0  male   Third   7.2500         0
  4    35.0  male   Third   8.0500         0
  5     NaN  male   Third   8.4583         0
  7     2.0  male   Third  21.0750         0
  12   20.0  male   Third   8.0500         0
  ..    ...   ...     ...      ...       ...
  877  19.0  male   Third   7.8958         0
  878   NaN  male   Third   7.8958         0
  881  33.0  male   Third   7.8958         0
  884  25.0  male   Third   7.0500         0
  890  32.0  male   Third   7.7500         0

  [347 rows x 5 columns])]

In [22]:
# Q. grouped_two 그룹 객체를 for문을 사용, iteration 으로 출력하세요.
for key, group in grouped_two: ### grouped 안의 내용을 정리해서 출력하기!
    print('* key :', key)
    print('* number:', len(group)) ### 각 그룹의 개수
    print(group.head(5))
    print('-'*80)

* key : ('First', 'female')
* number: 94
     age     sex c_level      fare  survived
1   38.0  female   First   71.2833         1
3   35.0  female   First   53.1000         1
11  58.0  female   First   26.5500         1
31   NaN  female   First  146.5208         1
52  49.0  female   First   76.7292         1
--------------------------------------------------------------------------------
* key : ('First', 'male')
* number: 122
     age   sex c_level      fare  survived
6   54.0  male   First   51.8625         0
23  28.0  male   First   35.5000         1
27  19.0  male   First  263.0000         0
30  40.0  male   First   27.7208         0
34  28.0  male   First   82.1708         0
--------------------------------------------------------------------------------
* key : ('Second', 'female')
* number: 76
     age     sex c_level     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
41  27.0  female  Second  21.0000         0
43   3.0  female  Second  41.5792         1
53  29.0  female  Second  26.0000         1
--------------------------------------------------------------------------------
* key : ('Second', 'male')
* number: 108
     age   sex c_level  fare  survived
17   NaN  male  Second  13.0         1
20  35.0  male  Second  26.0         0
21  34.0  male  Second  13.0         1
33  66.0  male  Second  10.5         0
70  32.0  male  Second  10.5         0
--------------------------------------------------------------------------------
* key : ('Third', 'female')
* number: 144
     age     sex c_level     fare  survived
2   26.0  female   Third   7.9250         1
8   27.0  female   Third  11.1333         1
10   4.0  female   Third  16.7000         1
14  14.0  female   Third   7.8542         0
18  31.0  female   Third  18.0000         0
--------------------------------------------------------------------------------
* key : ('Third', 'male')
* number: 347
     age   sex c_level     fare  survived
0   22.0  male   Third   7.2500         0
4   35.0  male   Third   8.0500         0
5    NaN  male   Third   8.4583         0
7    2.0  male   Third  21.0750         0
12  20.0  male   Third   8.0500         0
--------------------------------------------------------------------------------

In [23]:
# Q. grouped_two 그룹 객체에 연산 메소드 적용, 각 그룹의 평균값을 구한 후 출력하세요.
average_two = grouped_two.mean()
average_two

                      age        fare  survived
c_level sex
First   female  34.611765  106.125798  0.968085
        male    41.281386   67.226127  0.368852
Second  female  28.722973   21.970121  0.921053
        male    30.740707   19.741782  0.157407
Third   female  21.750000   16.118810  0.500000
        male    26.507589   12.661633  0.135447

- 남자에 비해 여자의 생존률이 높다.
- class가 높을수록 생존률이 높다.
- class가 높을수록 fare가 높다.
- class가 높을수록 age도 높다.
- 같은 class여도 여자가 남자보다 돈을 더 지불했고, 나이가 더 어림.

In [24]:
# Q. grouped_two 그룹 객체에서 ('Third','female') 그룹을 선택해서
# group3f에 저장하고 처음 5개 행을 출력하세요.
group3f = grouped_two.get_group(('Third', 'female'))
group3f.head(5)

     age     sex c_level     fare  survived
2   26.0  female   Third   7.9250         1
8   27.0  female   Third  11.1333         1
10   4.0  female   Third  16.7000         1
14  14.0  female   Third   7.8542         0
18  31.0  female   Third  18.0000         0

### 적용-결합
데이터 집계(agg),
- 집계 연산을 처리하는 사용자 정의 함수를 그룹 객체에 적용하려면 agg() 메서드 사용
- 모든 열에 여러 함수를 매핑 : group객체.agg([함수1,함수2,함수3,...])
- 각 열마다 다른 함수를 매핑 : group객체.agg({'열1':함수1, '열2':함수2,...})

변환(transform)
- 원소의 본래 행 인덱스와 열 이름을 기준으로 연산 결과를 반환
- 데이터 변환 연산 : group객체.transform(매핑함수)

필터링(filter)
- 그룹 객체에 filter() 메서드를 적용할 때 조건식을 가진 함수를 전달하면 조건이 참인 그룹만을 남김.
- 그룹 객체 필터링 : group 객체.filter(조건함수식)

객체에 함수 매핑(apply)
- 판다스 객체의 개별 원소를 특정 함수에 일대일로 매핑. 사용자가 원하는 대부분의 연산을 그룹 객체에 적용
- group 객체.apply(매핑함수)

In [26]:
# Q. 최대값 - 최소값을 반환하는 사용자 함수를 정의하고 agg()함수에 인수로 전달하여
# 그룹별로 집계하여 agg_minmax 이름으로 저장 후 처음 5개 행을 출력하세요.

import seaborn as sns
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','sex','class','fare','survived']]

# class 열을 기준으로 분할
grouped = df.groupby(['class'])

def min_max(a):
    return a.max()-a.min()

agg_minmax = grouped.agg(min_max) ### <- 하나일 때는 리스트로 안써도 되나봄.
agg_minmax

/Users/hyunjeongjo/opt/anaconda3/lib/python3.8/site-packages/pandas/core/groupby/generic.py:303: FutureWarning: Dropping invalid columns in SeriesGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the aggregating function.
  results[key] = self.aggregate(func)

          age      fare  survived
class
First   79.08  512.3292         1
Second  69.33   73.5000         1
Third   73.58   69.5500         1

In [27]:
# 모든 열에 여러 함수를 매핑 : group객체.agg([함수1, 함수2, ...])
agg_all = grouped.agg(['min','max'])
agg_all

         age           sex       fare           survived
         min   max     min   max  min       max      min max
class
First   0.92  80.0  female  male  0.0  512.3292        0   1
Second  0.67  70.0  female  male  0.0   73.5000        0   1
Third   0.42  74.0  female  male  0.0   69.5500        0   1

In [28]:
# 각 열마다 다른 함수 매핑 : group객체.agg({'열1':'함수1','열2':'함수2',...})
# ('fare'는 'min','max','age'는 'mean')
agg_all1 = grouped.agg({'age':'mean','fare':['min','max']})
agg_all1

              age fare
             mean  min       max
class
First   38.233441  0.0  512.3292
Second  29.877630  0.0   73.5000
Third   25.140620  0.0   69.5500

In [29]:
# Q. 데이터 개수가 200개 이상인 그룹만을 필터링하여 데이터프레임으로 변환하여
# grouped_filter 이름으로 저장 후 처음 5개 행을 출력하세요.

In [30]:
grouped_filter = grouped.filter(lambda x: len(x)>=200)
grouped_filter['class'].value_counts() ### second그룹은 200개가 안 되서 아예 다 빼버린거.

Third     491
First     216
Second      0
Name: class, dtype: int64

In [31]:
# Q. age 열의 평균이 작은 그룹만을 필터링하여 데이터프레임으로 반환하여
# age_filter 이름으로 저장 후 끝에서 5개 행을 출력하세요.

age_filter = grouped.filter(lambda x : x['age'].mean()<30)
age_filter.tail()

      age     sex   class    fare  survived
884  25.0    male   Third   7.050         0
885  39.0  female   Third  29.125         0
886  27.0    male  Second  13.000         0
888   NaN  female   Third  23.450         0
890  32.0    male   Third   7.750         0

In [32]:
# z-score : 평균값에서 표준편차의 몇 배 떨어져 있는지를 평가하는 수치
def z_score(x):
    return (x - x.mean()) / x.std()
age_zcore = grouped.age.apply(z_score)
age_zcore.head()

0   -0.251342
1   -0.015770
2    0.068776
3   -0.218434
4    0.789041
Name: age, dtype: float64

In [33]:
age_zscore = grouped.age.transform(z_score)
age_zscore.head()

0   -0.251342
1   -0.015770
2    0.068776
3   -0.218434
4    0.789041
Name: age, dtype: float64

In [34]:
age_filter = grouped.apply(lambda x : x.age.mean()<30)  ### age 평균이 30이하인 그룹들 필터링.

### age_filter 뽑으면 First False / Second True / Third True 나옴.


for x in age_filter.index: ### age_filter.index 는 First, Second, Third
    if age_filter[x] == True:  ### True 는 Second, Third
        age_filter_df = grouped.get_group(x) ### Second / Third 그룹 나눠서
        print(age_filter_df.head())
        print()        
        
# age_filter = grouped.filter(lambda x : x['age'].mean()<30)
# age_filter.tail()

     age     sex   class     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
17   NaN    male  Second  13.0000         1
20  35.0    male  Second  26.0000         0
21  34.0    male  Second  13.0000         1

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0

In [35]:
age_filter

class
First     False
Second     True
Third      True
dtype: bool

### 피벗
- 피벗 테이블을 구성하는 4가지 요소(행 인덱스, 열 인덱스, 데이터 값, 데이터 집계함수)에 적용할 데이터프레임의 열을 각각 지정하여 함수의 인자로 전달

In [37]:
import pandas as pd

pd.set_option('display.max_columns',24)
data_pv=pd.read_pickle('data_pv.pkl')
print(data_pv.head())
print('='*80)
print(data_pv.value_counts())
print('='*80)
print(data_pv.shape)
print('='*80)
print(data_pv.info())

          Country                           Indicator  Value
0       Australia  Dwellings without basic facilities    1.1
1         Austria  Dwellings without basic facilities    1.0
2         Belgium  Dwellings without basic facilities    2.0
3          Canada  Dwellings without basic facilities    0.2
4  Czech Republic  Dwellings without basic facilities    0.9
================================================================================
Country        Indicator                                  Value
Australia      Air pollution                              13.00      1
Norway         Time devoted to leisure and personal care  15.56      1
               Household net financial wealth             8797.00    1
               Housing expenditure                        17.00      1
               Job security                               3.10       1
                                                                    ..
Greece         Job security                               12.20      1
               Life expectancy                            80.70      1
               Life satisfaction                          4.80       1
               Long-term unemployment rate                18.39      1
United States  Years in education                         17.20      1
Length: 888, dtype: int64
================================================================================
(888, 3)
================================================================================
<class 'pandas.core.frame.DataFrame'>
Int64Index: 888 entries, 0 to 3217
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    888 non-null    object
 1   Indicator  888 non-null    object
 2   Value      888 non-null    float64
dtypes: float64(1), object(2)
memory usage: 27.8+ KB
None

In [39]:
data_pv.Indicator

0              Dwellings without basic facilities
1              Dwellings without basic facilities
2              Dwellings without basic facilities
3              Dwellings without basic facilities
4              Dwellings without basic facilities
                          ...
3213    Time devoted to leisure and personal care
3214    Time devoted to leisure and personal care
3215    Time devoted to leisure and personal care
3216    Time devoted to leisure and personal care
3217    Time devoted to leisure and personal care
Name: Indicator, Length: 888, dtype: object

In [40]:
pd.set_option('max_rows', None)
data_pv

              Country                                  Indicator      Value
0           Australia         Dwellings without basic facilities       1.10
1             Austria         Dwellings without basic facilities       1.00
2             Belgium         Dwellings without basic facilities       2.00
3              Canada         Dwellings without basic facilities       0.20
4      Czech Republic         Dwellings without basic facilities       0.90
5             Denmark         Dwellings without basic facilities       0.90
6             Finland         Dwellings without basic facilities       0.60
7              France         Dwellings without basic facilities       0.50
8             Germany         Dwellings without basic facilities       0.10
9              Greece         Dwellings without basic facilities       0.70
10            Hungary         Dwellings without basic facilities       4.80
11            Iceland         Dwellings without basic facilities       0.40
12            Ireland         Dwellings without basic facilities       0.20
13              Italy         Dwellings without basic facilities       1.10
14              Japan         Dwellings without basic facilities       6.40
15              Korea         Dwellings without basic facilities       4.20
16         Luxembourg         Dwellings without basic facilities       0.10
17             Mexico         Dwellings without basic facilities       4.20
18        Netherlands         Dwellings without basic facilities       0.00
19        New Zealand         Dwellings without basic facilities       0.20
20             Norway         Dwellings without basic facilities       0.30
21             Poland         Dwellings without basic facilities       3.20
22           Portugal         Dwellings without basic facilities       0.90
23    Slovak Republic         Dwellings without basic facilities       0.60
24              Spain         Dwellings without basic facilities       0.10
25             Sweden         Dwellings without basic facilities       0.00
26        Switzerland         Dwellings without basic facilities       0.00
27             Turkey         Dwellings without basic facilities      12.70
28     United Kingdom         Dwellings without basic facilities       0.20
29      United States         Dwellings without basic facilities       0.10
30             Brazil         Dwellings without basic facilities       6.70
31              Chile         Dwellings without basic facilities       9.40
32            Estonia         Dwellings without basic facilities       8.10
33             Israel         Dwellings without basic facilities       3.70
34             Russia         Dwellings without basic facilities      15.10
35           Slovenia         Dwellings without basic facilities       0.50
36       OECD - Total         Dwellings without basic facilities       2.40
109         Australia                        Housing expenditure      20.00
110           Austria                        Housing expenditure      21.00
111           Belgium                        Housing expenditure      21.00
112            Canada                        Housing expenditure      21.00
113    Czech Republic                        Housing expenditure      26.00
114           Denmark                        Housing expenditure      24.00
115           Finland                        Housing expenditure      22.00
116            France                        Housing expenditure      21.00
117           Germany                        Housing expenditure      21.00
118            Greece                        Housing expenditure      25.00
119           Hungary                        Housing expenditure      20.00
120           Iceland                        Housing expenditure      24.00
121           Ireland                        Housing expenditure      19.00
122             Italy                        Housing expenditure      24.00
123             Japan                        Housing expenditure      22.00
124             Korea                        Housing expenditure      16.00
125        Luxembourg                        Housing expenditure      21.00
126            Mexico                        Housing expenditure      21.00
127       Netherlands                        Housing expenditure      19.00
128       New Zealand                        Housing expenditure      23.00
129            Norway                        Housing expenditure      17.00
130            Poland                        Housing expenditure      21.00
131          Portugal                        Housing expenditure      19.00
132   Slovak Republic                        Housing expenditure      26.00
133             Spain                        Housing expenditure      22.00
134            Sweden                        Housing expenditure      20.00
135       Switzerland                        Housing expenditure      22.00
136            Turkey                        Housing expenditure      21.00
137    United Kingdom                        Housing expenditure      23.00
138     United States                        Housing expenditure      18.00
139            Brazil                        Housing expenditure      21.00
140             Chile                        Housing expenditure      18.00
141           Estonia                        Housing expenditure      19.00
142            Israel                        Housing expenditure      21.00
143            Russia                        Housing expenditure      11.00
144          Slovenia                        Housing expenditure      20.00
145      OECD - Total                        Housing expenditure      18.00
218         Australia                           Rooms per person       2.30
219           Austria                           Rooms per person       1.60
220           Belgium                           Rooms per person       2.20
221            Canada                           Rooms per person       2.50
222    Czech Republic                           Rooms per person       1.40
223           Denmark                           Rooms per person       1.90
224           Finland                           Rooms per person       1.90
225            France                           Rooms per person       1.80
226           Germany                           Rooms per person       1.80
227            Greece                           Rooms per person       1.20
228           Hungary                           Rooms per person       1.10
229           Iceland                           Rooms per person       1.50
230           Ireland                           Rooms per person       2.10
231             Italy                           Rooms per person       1.40
232             Japan                           Rooms per person       1.80
233             Korea                           Rooms per person       1.40
234        Luxembourg                           Rooms per person       2.00
235            Mexico                           Rooms per person       1.00
236       Netherlands                           Rooms per person       2.00
237       New Zealand                           Rooms per person       2.40
238            Norway                           Rooms per person       2.00
239            Poland                           Rooms per person       1.10
240          Portugal                           Rooms per person       1.60
241   Slovak Republic                           Rooms per person       1.10
242             Spain                           Rooms per person       1.90
243            Sweden                           Rooms per person       1.70
244       Switzerland                           Rooms per person       1.80
245            Turkey                           Rooms per person       1.10
246    United Kingdom                           Rooms per person       1.90
247     United States                           Rooms per person       2.40
248            Brazil                           Rooms per person       1.60
249             Chile                           Rooms per person       1.20
250           Estonia                           Rooms per person       1.50
251            Israel                           Rooms per person       1.20
252            Russia                           Rooms per person       0.90
253          Slovenia                           Rooms per person       1.50
254      OECD - Total                           Rooms per person       1.80
327         Australia   Household net adjusted disposable income   31588.00
328           Austria   Household net adjusted disposable income   31173.00
329           Belgium   Household net adjusted disposable income   28307.00
330            Canada   Household net adjusted disposable income   29365.00
331    Czech Republic   Household net adjusted disposable income   18404.00
332           Denmark   Household net adjusted disposable income   26491.00
333           Finland   Household net adjusted disposable income   27927.00
334            France   Household net adjusted disposable income   28799.00
335           Germany   Household net adjusted disposable income   31252.00
336            Greece   Household net adjusted disposable income   18575.00
337           Hungary   Household net adjusted disposable income   15442.00
338           Iceland   Household net adjusted disposable income   23965.00
339           Ireland   Household net adjusted disposable income   23917.00
340             Italy   Household net adjusted disposable income   25166.00
341             Japan   Household net adjusted disposable income   26111.00
342             Korea   Household net adjusted disposable income   19510.00
343        Luxembourg   Household net adjusted disposable income   38951.00
344            Mexico   Household net adjusted disposable income   13085.00
345       Netherlands   Household net adjusted disposable income   27888.00
346       New Zealand   Household net adjusted disposable income   23815.00
347            Norway   Household net adjusted disposable income   33492.00
348            Poland   Household net adjusted disposable income   17852.00
349          Portugal   Household net adjusted disposable income   20086.00
350   Slovak Republic   Household net adjusted disposable income   17503.00
351             Spain   Household net adjusted disposable income   22477.00
352            Sweden   Household net adjusted disposable income   29185.00
353       Switzerland   Household net adjusted disposable income   33491.00
354            Turkey   Household net adjusted disposable income   14095.00
355    United Kingdom   Household net adjusted disposable income   27029.00
356     United States   Household net adjusted disposable income   41355.00
357            Brazil   Household net adjusted disposable income   11664.00
358             Chile   Household net adjusted disposable income   14533.00
359           Estonia   Household net adjusted disposable income   15167.00
360            Israel   Household net adjusted disposable income   22104.00
361            Russia   Household net adjusted disposable income   19292.00
362          Slovenia   Household net adjusted disposable income   19326.00
363      OECD - Total   Household net adjusted disposable income   25908.00
510         Australia             Household net financial wealth   47657.00
511           Austria             Household net financial wealth   49887.00
512           Belgium             Household net financial wealth   83876.00
513            Canada             Household net financial wealth   67913.00
514    Czech Republic             Household net financial wealth   17299.00
515           Denmark             Household net financial wealth   44488.00
516           Finland             Household net financial wealth   18761.00
517            France             Household net financial wealth   48741.00
518           Germany             Household net financial wealth   50394.00
519            Greece             Household net financial wealth   14579.00
520           Hungary             Household net financial wealth   13277.00
521           Iceland             Household net financial wealth   43045.00
522           Ireland             Household net financial wealth   31580.00
523             Italy             Household net financial wealth   54987.00
524             Japan             Household net financial wealth   86764.00
525             Korea             Household net financial wealth   29091.00
526        Luxembourg             Household net financial wealth   61765.00
527            Mexico             Household net financial wealth    9056.00
528       Netherlands             Household net financial wealth   77961.00
529       New Zealand             Household net financial wealth   28290.00
530            Norway             Household net financial wealth    8797.00
531            Poland             Household net financial wealth   10919.00
532          Portugal             Household net financial wealth   31245.00
533   Slovak Republic             Household net financial wealth    8663.00
534             Spain             Household net financial wealth   24774.00
535            Sweden             Household net financial wealth   60328.00
536       Switzerland             Household net financial wealth  108823.00
537            Turkey             Household net financial wealth    3251.00
538    United Kingdom             Household net financial wealth   60778.00
539     United States             Household net financial wealth  145769.00
540            Brazil             Household net financial wealth    6844.00
541             Chile             Household net financial wealth   17733.00
542           Estonia             Household net financial wealth    7680.00
543            Israel             Household net financial wealth   52933.00
544            Russia             Household net financial wealth    3412.00
545          Slovenia             Household net financial wealth   18465.00
546      OECD - Total             Household net financial wealth   67139.00
619         Australia                            Employment rate      72.00
620           Austria                            Employment rate      72.00
621           Belgium                            Employment rate      62.00
622            Canada                            Employment rate      72.00
623    Czech Republic                            Employment rate      68.00
624           Denmark                            Employment rate      73.00
625           Finland                            Employment rate      69.00
626            France                            Employment rate      64.00
627           Germany                            Employment rate      73.00
628            Greece                            Employment rate      49.00
629           Hungary                            Employment rate      58.00
630           Iceland                            Employment rate      82.00
631           Ireland                            Employment rate      60.00
632             Italy                            Employment rate      56.00
633             Japan                            Employment rate      72.00
634             Korea                            Employment rate      64.00
635        Luxembourg                            Employment rate      66.00
636            Mexico                            Employment rate      61.00
637       Netherlands                            Employment rate      74.00
638       New Zealand                            Employment rate      73.00
639            Norway                            Employment rate      75.00
640            Poland                            Employment rate      60.00
641          Portugal                            Employment rate      61.00
642   Slovak Republic                            Employment rate      60.00
643             Spain                            Employment rate      56.00
644            Sweden                            Employment rate      74.00
645       Switzerland                            Employment rate      80.00
646            Turkey                            Employment rate      50.00
647    United Kingdom                            Employment rate      71.00
648     United States                            Employment rate      67.00
649            Brazil                            Employment rate      67.00
650             Chile                            Employment rate      62.00
651           Estonia                            Employment rate      68.00
652            Israel                            Employment rate      67.00
653            Russia                            Employment rate      69.00
654          Slovenia                            Employment rate      63.00
655      OECD - Total                            Employment rate      65.00
804         Australia                               Job security       4.80
805           Austria                               Job security       3.90
806           Belgium                               Job security       5.00
807            Canada                               Job security       6.40
808    Czech Republic                               Job security       4.10
809           Denmark                               Job security       5.60
810           Finland                               Job security       6.90
811            France                               Job security       6.50
812           Germany                               Job security       3.10
813            Greece                               Job security      12.20
814           Hungary                               Job security       5.70
815           Iceland                               Job security       4.10
816           Ireland                               Job security       5.90
817             Italy                               Job security       5.90
818             Japan                               Job security       2.40
819             Korea                               Job security       3.20
820        Luxembourg                               Job security       4.30
821            Mexico                               Job security       4.90
822       Netherlands                               Job security       4.50
823       New Zealand                               Job security       5.10
824            Norway                               Job security       3.10
825            Poland                               Job security       7.30
826          Portugal                               Job security       8.60
827   Slovak Republic                               Job security       5.50
828             Spain                               Job security      17.80
829            Sweden                               Job security       6.50
830       Switzerland                               Job security       3.00
831            Turkey                               Job security       8.10
832    United Kingdom                               Job security       5.20
833     United States                               Job security       5.90
834            Brazil                               Job security       4.60
835             Chile                               Job security       4.40
836           Estonia                               Job security       5.20
837            Israel                               Job security       5.00
838            Russia                               Job security       4.00
839          Slovenia                               Job security       5.50
840      OECD - Total                               Job security       5.40
915         Australia                Long-term unemployment rate       1.08
916           Austria                Long-term unemployment rate       1.19
917           Belgium                Long-term unemployment rate       3.88

In [41]:
type(data_pv)

pandas.core.frame.DataFrame

In [42]:
data_pv1 = data_pv.pivot(index = 'Country',columns = 'Indicator', values = 'Value')
# data_pv1 = pd.pivot(data_pv, index = 'Country',columns = 'Indicator', values = 'Value')

data_pv1

Indicator,Air pollution,Assault rate,Consultation on rule-making,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Homicide rate,Household net adjusted disposable income,Household net financial wealth,Housing expenditure,Job security,Life expectancy,Life satisfaction,Long-term unemployment rate,Personal earnings,Quality of support network,Rooms per person,Self-reported health,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education
Country,,,,,,,,,,,,,,,,,,,,,,,,
Australia,13.0,2.1,10.5,1.1,76.0,14.02,72.0,0.8,31588.0,47657.0,20.0,4.8,82.1,7.3,1.08,50449.0,92.0,2.3,85.0,512.0,14.41,93.0,91.0,19.4
Austria,27.0,3.4,7.1,1.0,83.0,7.61,72.0,0.4,31173.0,49887.0,21.0,3.9,81.0,6.9,1.19,45199.0,89.0,1.6,69.0,500.0,14.46,75.0,94.0,17.0
Belgium,21.0,6.6,4.5,2.0,72.0,4.57,62.0,1.1,28307.0,83876.0,21.0,5.0,80.5,6.9,3.88,48082.0,94.0,2.2,74.0,509.0,15.71,89.0,87.0,18.9
Brazil,18.0,7.9,4.0,6.7,45.0,10.41,67.0,25.5,11664.0,6844.0,21.0,4.6,73.7,7.0,1.97,17177.0,90.0,1.6,69.0,402.0,14.97,79.0,72.0,16.3
Canada,15.0,1.3,10.5,0.2,89.0,3.94,72.0,1.5,29365.0,67913.0,21.0,6.4,81.5,7.3,0.90,46911.0,92.0,2.5,89.0,522.0,14.25,61.0,91.0,17.2
Chile,46.0,6.9,2.0,9.4,57.0,15.42,62.0,4.4,14533.0,17733.0,18.0,4.4,78.9,6.7,1.59,22101.0,86.0,1.2,59.0,436.0,14.41,49.0,73.0,16.5
Czech Republic,16.0,2.8,6.8,0.9,92.0,6.98,68.0,0.8,18404.0,17299.0,26.0,4.1,78.2,6.5,3.12,20338.0,85.0,1.4,60.0,500.0,14.98,59.0,85.0,18.1
Denmark,15.0,3.9,7.0,0.9,78.0,2.03,73.0,0.3,26491.0,44488.0,24.0,5.6,80.1,7.5,1.78,48347.0,95.0,1.9,72.0,498.0,16.06,88.0,94.0,19.4
Estonia,9.0,5.5,3.3,8.1,90.0,3.30,68.0,4.8,15167.0,7680.0,19.0,5.2,76.5,5.6,3.82,18944.0,89.0,1.5,54.0,526.0,14.90,64.0,79.0,17.5
Finland,15.0,2.4,9.0,0.6,85.0,3.58,69.0,1.4,27927.0,18761.0,22.0,6.9,80.7,7.4,1.73,40060.0,95.0,1.9,65.0,529.0,14.89,69.0,94.0,19.7
France,12.0,5.0,3.5,0.5,73.0,8.15,64.0,0.6,28799.0,48741.0,21.0,6.5,82.1,6.5,3.99,40242.0,87.0,1.8,67.0,500.0,15.33,80.0,82.0,16.4
Germany,16.0,3.6,4.5,0.1,86.0,5.25,73.0,0.5,31252.0,50394.0,21.0,3.1,81.0,7.0,2.37,43682.0,94.0,1.8,65.0,515.0,15.31,72.0,95.0,18.2
Greece,27.0,3.7,6.5,0.7,68.0,6.16,49.0,1.6,18575.0,14579.0,25.0,12.2,80.7,4.8,18.39,25503.0,83.0,1.2,74.0,466.0,14.91,64.0,69.0,18.6
Hungary,15.0,3.6,7.9,4.8,82.0,3.19,58.0,1.3,15442.0,13277.0,20.0,5.7,75.2,4.9,5.10,20948.0,87.0,1.1,57.0,487.0,15.04,62.0,77.0,17.6
Iceland,18.0,2.7,5.1,0.4,71.0,12.25,82.0,0.3,23965.0,43045.0,24.0,4.1,83.0,7.5,1.18,55716.0,96.0,1.5,77.0,484.0,14.61,81.0,97.0,19.8
Ireland,13.0,2.6,9.0,0.2,75.0,4.20,60.0,0.8,23917.0,31580.0,19.0,5.9,81.0,7.0,8.39,49506.0,96.0,2.1,82.0,516.0,15.19,70.0,80.0,17.6
Israel,21.0,6.4,2.5,3.7,85.0,16.03,67.0,2.3,22104.0,52933.0,21.0,5.0,81.8,7.4,0.79,28817.0,87.0,1.2,80.0,474.0,14.48,68.0,68.0,15.8
Italy,21.0,4.7,5.0,1.1,57.0,3.66,56.0,0.7,25166.0,54987.0,24.0,5.9,82.3,6.0,6.94,34561.0,90.0,1.4,66.0,490.0,14.98,75.0,71.0,16.8
Japan,24.0,1.4,7.3,6.4,94.0,22.26,72.0,0.3,26111.0,86764.0,22.0,2.4,83.2,5.9,1.67,35405.0,89.0,1.8,30.0,540.0,14.93,53.0,85.0,16.3
Korea,30.0,2.1,10.4,4.2,82.0,18.72,64.0,1.1,19510.0,29091.0,16.0,3.2,81.3,5.8,0.01,36354.0,72.0,1.4,35.0,542.0,14.63,76.0,78.0,17.5
Luxembourg,12.0,4.3,6.0,0.1,78.0,3.47,66.0,0.4,38951.0,61765.0,21.0,4.3,81.5,6.9,1.78,56021.0,87.0,2.0,72.0,490.0,15.12,91.0,86.0,15.1
Mexico,30.0,12.8,9.0,4.2,37.0,28.83,61.0,23.4,13085.0,9056.0,21.0,4.9,74.6,6.7,0.08,16193.0,77.0,1.0,66.0,417.0,13.89,63.0,67.0,14.4
Netherlands,30.0,4.9,6.1,0.0,73.0,0.45,74.0,0.9,27888.0,77961.0,19.0,4.5,81.2,7.3,2.40,47590.0,90.0,2.0,76.0,519.0,15.44,75.0,92.0,18.7
New Zealand,11.0,2.2,10.3,0.2,74.0,13.87,73.0,1.2,23815.0,28290.0,23.0,5.1,81.5,7.3,0.75,35609.0,94.0,2.4,90.0,509.0,14.87,77.0,89.0,18.1
Norway,16.0,3.3,8.1,0.3,82.0,2.82,75.0,0.6,33492.0,8797.0,17.0,3.1,81.5,7.4,0.32,50282.0,94.0,2.0,76.0,496.0,15.56,78.0,94.0,17.9
OECD - Total,20.0,3.9,7.3,2.4,75.0,12.51,65.0,4.0,25908.0,67139.0,18.0,5.4,79.6,6.6,2.79,36118.0,88.0,1.8,68.0,497.0,14.97,68.0,81.0,17.7
Poland,33.0,1.4,10.8,3.2,90.0,7.41,60.0,0.9,17852.0,10919.0,21.0,7.3,76.9,5.8,3.77,22655.0,91.0,1.1,58.0,521.0,14.20,55.0,79.0,18.4
Portugal,18.0,5.7,6.5,0.9,38.0,9.62,61.0,1.1,20086.0,31245.0,19.0,8.6,80.5,5.1,9.11,23688.0,86.0,1.6,46.0,488.0,14.95,58.0,86.0,17.6
Russia,15.0,3.8,2.5,15.1,94.0,0.16,69.0,12.8,19292.0,3412.0,11.0,4.0,70.2,6.0,1.70,20885.0,90.0,0.9,37.0,481.0,14.97,65.0,56.0,16.0
Slovak Republic,13.0,3.0,6.6,0.6,92.0,7.02,60.0,1.2,17503.0,8663.0,26.0,5.5,76.2,6.1,9.46,20307.0,90.0,1.1,66.0,472.0,14.99,59.0,81.0,16.3
Slovenia,26.0,3.9,10.3,0.5,85.0,5.63,63.0,0.4,19326.0,18465.0,20.0,5.5,80.2,5.7,5.15,32037.0,90.0,1.5,65.0,499.0,14.62,52.0,88.0,18.4
Spain,24.0,4.2,7.3,0.1,55.0,5.89,56.0,0.6,22477.0,24774.0,22.0,17.8,82.5,6.5,12.96,34824.0,95.0,1.9,72.0,490.0,16.06,69.0,71.0,17.6
Sweden,10.0,5.1,10.9,0.0,88.0,1.13,74.0,0.7,29185.0,60328.0,20.0,6.5,81.8,7.2,1.37,40818.0,92.0,1.7,81.0,482.0,15.11,86.0,95.0,19.3
Switzerland,20.0,4.2,8.4,0.0,86.0,6.72,80.0,0.5,33491.0,108823.0,22.0,3.0,82.8,7.5,1.46,54236.0,96.0,1.8,81.0,518.0,14.98,49.0,96.0,17.3
Turkey,35.0,5.0,5.5,12.7,34.0,40.86,50.0,1.2,14095.0,3251.0,21.0,8.1,74.6,5.6,2.37,16919.0,86.0,1.1,68.0,462.0,13.42,88.0,62.0,16.4
United Kingdom,13.0,1.9,11.5,0.2,78.0,12.70,71.0,0.3,27029.0,60778.0,23.0,5.2,81.0,6.8,2.77,41192.0,91.0,1.9,74.0,502.0,14.83,66.0,88.0,16.4
United States,18.0,1.5,8.3,0.1,89.0,11.30,67.0,5.2,41355.0,145769.0,18.0,5.9,78.7,7.2,1.91,56340.0,90.0,2.4,88.0,492.0,14.27,68.0,85.0,17.2

In [43]:
# Q. Titanic df에서 행은 class, 열은 sex로 구성된 피봇 테이블을 출력하세요. value 는 age의 평균값으로

import seaborn as sns
t2 = sns.load_dataset('titanic')

pdf1 = pd.pivot_table(t2,
                     index = 'class',
                     columns = 'sex',
                      values = 'age',
                     aggfunc='mean')

pdf1

sex        female       male
class
First   34.611765  41.281386
Second  28.722973  30.740707
Third   21.750000  26.507589

In [44]:
# Q. Titanic df에서 행은 class, 열은 sex로 구성된 피봇 테이블을 출력하세요. value 는 age의 평균값으로

import seaborn as sns
t2 = sns.load_dataset('titanic')

pdf1 = pd.pivot_table(t2,
                     index = 'class',
                     columns = 'sex',
                      values = 'age')

pdf1

sex        female       male
class
First   34.611765  41.281386
Second  28.722973  30.740707
Third   21.750000  26.507589

In [45]:
# Q. 값에 적용하는 집계 함수를 2개 이상 지정할 수 있다. 'mean', 'sum'을 지정하여 출력하세요.
# value = 'survived'

t3 = pd.pivot_table(t2, index = 'class',columns = 'sex',values = 'survived',aggfunc=['mean','sum'])
t3

            mean              sum
sex       female      male female male
class
First   0.968085  0.368852     91   45
Second  0.921053  0.157407     70   17
Third   0.500000  0.135447     72   47

In [46]:
# Q. 행, 열, 값에 사용할 열을 2개 이상 지정할 수 있다. index, values, aggfunc에 
# 각각 2개를 지정하여 출력하세요.
# index = ['class','sex'], # 행 위치에 들어갈 열
# columns='survived', # 열 위치에 들어갈 열
# valeus=['age','fare'], # 데이터로 사용할 열
# aggfunc=['mean','max'] # 데이터 집계 함수

t4 = pd.pivot_table(t2,index = ['class','sex'],columns='survived',\
                    values=['age','fare'],aggfunc=['mean','max'])
t4

                    mean                                      max        \
                     age                   fare               age
survived               0          1           0           1     0     1
class  sex
First  female  25.666667  34.939024  110.604167  105.978159  50.0  63.0
       male    44.581967  36.248000   62.894910   74.637320  71.0  80.0
Second female  36.000000  28.080882   18.250000   22.288989  57.0  55.0
       male    33.369048  16.022000   19.488965   21.095100  70.0  62.0
Third  female  23.818182  19.329787   19.773093   12.464526  48.0  63.0
       male    27.255814  22.274211   12.204469   15.579696  74.0  45.0


                 fare
survived            0         1
class  sex
First  female  151.55  512.3292
       male    263.00  512.3292
Second female   26.00   65.0000
       male     73.50   39.0000
Third  female   69.55   31.3875
       male     69.55   56.4958